= content_tag :div, class: 'media', id: "comment-#{comment.id}" do
  .media-left
  .media-body
    %small
      - if comment.user_id != nil
        = User.find(comment.user_id).name
        commented #{time_ago_in_words(comment.created_at)} ago
      - if current_user.id == comment.user_id
        |  #{link_to "Delete", [comment.post, comment], method: :delete, remote: true}
    %p= comment.content
