= form_for [post, comment], remote: true do |f|
  - if comment.errors.any?
    .alert.alert-danger
      %h4
        There are #{pluralize(comment.errors.count, "error")}.
      %ul
        - comment.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :content
    = f.text_field :content, class: 'form-control', placeholder: "Enter comment body"
  .form-group
    = f.submit "Create a comment", class: 'btn btn-success'
