%p= image_tag(@post.image.post) if @post.image?
%h1= @post.title
- if current_user.id == @post.user.id
  = link_to "Edit Post", edit_post_path(@post), class: 'btn btn-success'
  = link_to "Delete Post", [@post], method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this post?' }
= render partial: 'likes/like'
%p= @post.description
.row
  - if current_user
    .row
      .col-md-8
        %h2 Comments:
      .js-comments
        = render partial: 'comments/comment', collection: @post.comments
      .new-comment
        = render partial: 'comments/form', locals: { post: @post, comment: @post.comments.new }
